<h2>Editer la catégorie: {{category.label}}</h2><b>
<div class="form-group">
    <label for='formLabel' class="form-label mt-4">Label de la catégorie</label>
      <input class="form-control" [(ngModel)]="category.label" type="text" id='formLabel' placeholder="Label" >
    <label for='formDescription' class="form-label mt-4">Description de la catégorie</label>
      <input class="form-control" [(ngModel)]="category.description" type="text" id='formDescription' placeholder="Description" rows="3">
</div>
<button class="btn btn-success" (click)="updateCategory()">Enregistrer les modifications</button> 
<button class="btn btn-danger" (click)="deleteCategory(category.id)">Supprimer la catégorie</button> 
<br><br>

<ul>
    <h2>Films de cette catégorie</h2>
    <li *ngFor= "let m of category.movies">

        <div class="card mb-3">
            <h3 class="card-header">{{ m.title }}</h3>
            <img src="{{ m.image }}" class="d-block user-select-none" width="40%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
              
                <div class="card-body">
                <p class="card-text">{{ m.content}}</p>
                <button class="btn btn-info" routerLink='/movie-edit/{{m.id}}'>Voir</button>
                </div>
            
        </div>
    </li>
</ul>