<h2>Editer ce film</h2>
<div class="form-group">

    <label for='formTitle' class="form-label mt-4">Titre du film</label>
        <input class="form-control" [(ngModel)]="movie.title" type="text" id='formTitle' placeholder="Titre">
      
    <label for='formContent' class="form-label mt-4">Résumé du film</label>
        <textarea class="form-control" [(ngModel)]="movie.content" id='formContent' placeholder="Description" rows="3"></textarea>

    <label for='formImage' class="form-label mt-4">Image</label>
        <input class="form-control" [(ngModel)]="movie.image" type="text" id='formImage' placeholder="Image">

    <label for='formRating' class="form-label mt-4">Note</label>
        <input class="form-control" [(ngModel)]="movie.rating" type="text" id='formRating' placeholder="Note">

  
    
    

</div>
<button class="btn btn-success" (click)="updateMovie()">Enregistrer les modifications</button> 
<button class="btn btn-danger" (click)="deleteMovie(movie.id)">Supprimer le film</button> 
<br><br>

<div class="container">
        <div class="card mb-3">
            <h3 class="card-header">{{ movie.title }}</h3>
            <img src="{{ movie.image }}" class="d-block user-select-none" width="40%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
              
                <div class="card-body">
                <p class="card-text">{{ movie.content}}</p>
                </div>
                <div class="card-footer text-muted" *ngIf="movie.rating>0;else pas_de_note">Note: <b>{{ movie.rating}}/5</b></div>
                <ng-template #pas_de_note><div class="card-footer text-muted">Il n'y a pas de note pour ce film</div></ng-template>
            
        </div>
</div>